@import './variables';

.wrapper{
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  transition: all 1s ease;
  background: url('../assets/img/background.jpg');
  background-position: center;
  background-size: cover;
}

.main-header{
  position: fixed;
  display: flex;
  flex-direction: column;
  color: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  text-align: center;
  transform: translateX(-100%);
  transition: transform .7s ease-in-out;
  overflow-x: hidden;
  z-index: 998;
}

.main-header--open{
  transform: translateX(0);
}

.main-nav{
  position: absolute;
  top: 15%;
  left: 1rem;
}

.main-list{
  list-style-type: none;
  text-align: left;
  padding-left: 1rem;
  font-size: $font-size-large;

  li{
    padding-top: 1em;
    letter-spacing: 4px;
  }
}

label{
  font-size: $font-size-small;
  letter-spacing: 3px;
}

@keyframes slide{
  0%{
    left: 30%;
    opacity: 0;
    visibility: hidden;
  }
  100%{
    left: 50%;
    opacity: 1;
    visibility: visible;
  }
}

.city-form{
  display: flex;
  flex-direction: column;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  opacity: 0;
  margin-top: 2em;
  visibility: hidden;
  transition: all .4s ease;
}

.city-form--open{
  opacity: 1;
  visibility: visible;
  left: 50%;
}

.city-input{
  height: 40px;
  color: #fff;
  letter-spacing: 3px;
  font-size: $font-size-medium;
  font-family: $font-name;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  transition: all .3s ease;
}

.city-input--error{
  border-bottom: 1px solid tomato;
}

.city-input:focus{
  outline: none;
  border-bottom: 1px solid #04D98B;
}

.button{
  margin-top: 2em;
  width: 50%;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  letter-spacing: 2px;
  font-family: $font-name;
  padding: 1em;
  transition: all .3s ease;
}

.button:hover{
  cursor: pointer;
  border-color: #04D98B;
}

.weather{
  cursor: pointer;
}