@import './variables';

.wrapper{
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  transition: all 1s ease;
  background: url('../assets/img/snow.jpg');
  background-position: center;
  background-size: cover;
}

.main-header{
  position: fixed;
  display: flex;
  flex-direction: column;
  color: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.9);
  text-align: center;
  transform: translateX(-100%);
  transition: transform .7s ease-in-out;
  overflow-x: hidden;
  z-index: 998;
}

.main-header--open{
  transform: translateX(0);
}

.main-nav{
  position: absolute;
  top: 5%;
  left: 1rem;
}

.main-list{
  list-style-type: none;
  text-align: left;
  padding-left: 1rem;
  font-size: $font-size-large;

  li{
    padding-top: 1em;
    letter-spacing: 4px;
  }
}

label{
  font-size: $font-size-small;
  letter-spacing: 3px;
}

@keyframes slide{
  0%{
    left: 30%;
    opacity: 0;
    visibility: hidden;
  }
  100%{
    left: 50%;
    opacity: 1;
    visibility: visible;
  }
}

.city-form{
  display: flex;
  flex-direction: column;
  width: 90%;
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
  opacity: 0;
  margin-top: 2em;
  visibility: hidden;
  transition: all .4s ease;
}

.city-form--open{
  opacity: 1;
  visibility: visible;
  left: 50%;
}

.city-input{
  height: 40px;
  color: #fff;
  letter-spacing: 3px;
  font-size: $font-size-medium;
  font-family: $font-name;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  transition: all .3s ease;
}

.city-input--error{
  border-bottom: 1px solid tomato;
}

.city-input:focus{
  outline: none;
  border-bottom: 1px solid #04D98B;
}

.button{
  margin-top: 2em;
  width: 50%;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  letter-spacing: 2px;
  font-family: $font-name;
  padding: 1em;
  transition: all .3s ease;
}

.button:hover{
  cursor: pointer;
  border-color: #04D98B;
}

@keyframes display{
  0%{
    opacity: 0;
    visibility: hidden;
  }
  100%{
    opacity: 1;
    visibility: visible;
  }
}

.result-cities{
  width: 100%;
  margin: 1em 0;
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;

  li{
    font-size: 13px;
    letter-spacing: 2px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 0 1em;
    padding-left: 0;
    animation: display .5s ease-in-out;

    p{
      padding: 0 .2em;
      margin: .2em 0;
    }

  }

  li:hover{
    color: #04D98B;
    transition: all .5s ease;
    cursor: pointer;
  }
}

.rendered-city-name{
  font-weight: bold;
}


.weather{
  cursor: pointer;
}