@import './variables';

@media all and (min-width: $mq-phone-large){
  .weather-section{
    padding-top: 5em;
  }

  .range-wrapper{
    margin-top: 2em;
  }

  .city-form{
    top: 50%;
  }

  .result-cities li{
    margin-top: .5em;
  }
}

@media all and (min-width: $mq-tablet){
  .weather-wrapper{
    width: 60%;
  }

  .weather-info{
    width: 60%;
  }

  .range-wrapper{
    width: 60%;
  }

  .result-cities{
    margin: 3em 0;
  }

  .search-button{
    width: 200px;
  }

  .city-form{
    width: 50%;
  }
}

@media all and (min-width: $mq-desktop){
  .weather-wrapper{
    width: 30%;
    margin-top: 4em;
  }

  .weather-info{
    width: 30%;
    margin-top: 4em;
  }

  .range-wrapper{
    margin-top: 4em;
    width: 30%;
  }
}